<!DOCTYPE html>
<html lang="en">

<head>
    <meta harset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Submit form to Flask</title>
</head>

<body>
    <form action="/index.html" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><br>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName"><br>
        <label for="addr">Comments:</label>
        <input type="text" name="comm" id="comm"><br>
        <button type="submit">submit</button>
    </form>
</body>