<!DOCTYPE html>
<html lang="en">

<head>
    <meta harset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Submit form to Flask</title>
</head>

<body>
    <h2>Student Data</h2>
    <a href="/about">Fetch aboutUs page</a><br>
    <a href="#" id="fechData">Fetch Student data</a>
    <table id="studentsTable" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <!--Rows will dynamically added here-->
        </tbody>
    </table>
    <script>

    </script>
</body>

</html>